
.profile{
    background-color: #eee;
}

.profilePhoto{
    border: 1px solid black;
    border-radius: 15px;
}

.profile .gridContact {
    background-color: #eee;
}

.menu{
    background-color: #ddd;
    color: black;
}

.mode{
    background-color: #eee;  
}

.mode a{
    border: 1px solid #aaa ;
    border-radius: 15px;
    background-color: #111;
    color: #fff;
}

.mode .icon{
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
}

.icon{
    color: black;
    border: 1px solid black;
    border-radius: 15px;
}