.profile {
    background-color: #111;
}

.profilePhoto {
    border: 1px solid white;
    border-radius: 15px;
}

.profile .gridContact {
    background-color: #111;
}

.menu {
    background-color: #222;
    color: white;
}

.mode {
    background-color: #111;
}

.mode a {
    border: 1px solid #777;
    border-radius: 15px;
    background-color: #eee;
    color: #000;
    cursor: pointer
}

.mode .iconMode {
    color: #000;
    border: 1px solid #777;
    border-radius: 15px;
}

.iconContact {
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #000;
}


.icon {
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #000;
}

.iconMode {
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer
}

.iconContact:hover,
.icon:hover {
    background-color: #777;
    cursor: pointer
}

.content {
  color: #fff;
}

body, #sobre {
    background-color: #000;
}

#projetos {
    background-color: #111;
}

#formacao {
    background-color: #222;
}

#atividades {
    background-color: #333;
}

#experiencias {
    background-color: #444;
}
