.leftContent {
  background-color: #051336;
}

a .icon,
.icon {
  color: #d8d8cd;
  border-color: #d8d8cd;
}

.icon:hover {
  border-color: #fbfbfc;
  color: #fbfbfc;
  background-color: #060621;
}

.menuContent {
  background-color: #060621;
}

a .options {
  color: #d8d8cd;
  border-color: #060621;
}

.options:hover {
  color: #08205c;
}

.rightContent {
  color: #ddd;
}

section:nth-of-type(1) {
  background-color: #000;
}

section:nth-of-type(2) {
  background-color: #111;
}

section:nth-of-type(3) {
  background-color: #222;
}

section:nth-of-type(4) {
  background-color: #333;
}

section:nth-of-type(5) {
  background-color: #444;
}

section:nth-of-type(6) {
  background-color: #555;
}               