
.profile{
    background-color: #eee;
}

.profilePhoto{
    border: 1px solid black;
    border-radius: 15px;
}

.profile .gridContact {
    background-color: #eee;
}

.menu{
    background-color: #ddd;
    color: black;
}

.mode{
    background-color: #eee;  
}

.mode a{
    border: 1px solid #aaa ;
    border-radius: 15px;
    background-color: #111;
    color: #fff;
}

.mode .iconMode{
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
}
.iconContact{
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
}

.icon{
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
}
.iconMode{
    color: black;
    border: 1px solid black;
    border-radius: 15px;
}

.iconContact:hover , .icon:hover{
    background-color: #aaa;
}

.content{
    color: #000;
}
body, #sobre {
    background-color: #fff;
}

#projetos {
    background-color: #eee;
}

#formacao {
    background-color: #ddd;
}

#atividades {
    background-color: #ccc;
}

#experiencias {
    background-color: #bbb;
}