@media screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-rows: calc(100vh - 80px) 80px;
        grid-template-columns: 100vw;
        grid-template-areas:    "content"
                                "aside";
        overflow: none;
    }

    .aside {
        display: grid;
        grid-template-rows: minmax(80px, 10vh);
        grid-template-columns: 100vw;
        grid-template-areas: "menu";
    }

    .mode,
    .profile {
        display: none;
    }

    .menu {
        grid-area: menu;
    }

    .gridIcons {
        margin: 2vh .5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }

    .gridIcons a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: transparent;
        font-size: 0;
      }
      
      .content{
        grid-area: content;
        overflow-y: auto;
      }
}