@media screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-rows: calc(100vh - 80px) 80px ;
        grid-template-columns: 100vw;
        grid-template-areas:   "content" 
                                "aside";                    
        overflow: none;
    }

    .aside {
        display: grid;
        grid-template-rows: 80px;
        grid-template-columns: 100vw;
        grid-template-areas: "menu";
        position: fixed;
    }

    .mode,
    .profile {
        display: none;
    }

    .menu {
        grid-area: menu;
        position: fixed;
        width: 100%;
        bottom: 0;
  
    }

    .gridIcons {
        margin: 2vh .5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }

    .gridIcons a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: transparent;
        font-size: 0;
      }
      
      .content{
        grid-area: content;
        overflow-y: auto;
      }

      .content section{
        height: calc(100vh - 160px);
        overflow-y: auto;
      }
      #blank {
        display: none;
      }

      #atividades .row{
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
      }
      #experiencias .row{
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      }
}